.checkEmail{
    border-radius: 8px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 413px;
    height: 468px;
    background: #F9F9FE;
}
.text{
    text-align: center;
}