.newPassword{
    border-radius: 8px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 413px;
    height: 540px;
    background: #F9F9FE;
    box-shadow: none;
}
.text_1{

    font-family: SF UI Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
    width: 347px;
}
.text_2{
    text-align: center;
}
.superButton{
    width: 266px;
    height: 36px;
}
